<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Text Extraction and Product Type Prediction</title>
</head>

<body>
    <h1>PDF Text Extraction and Label Prediction</h1>
    <form action="/extract" method="POST">
        <label for="pdf_url">Enter PDF URL:</label>
        <input type="text" id="pdf_url" name="pdf_url" required>
        <button type="submit">Extract Data</button>
    </form>
    <br>
    <form action="/product type" method="POST">
        <label for="pdf_url_label">Enter PDF URL:</label>
        <input type="text" id="pdf_url_label" name="pdf_url" required>
        <button type="submit">Get Label</button>
    </form>
</body>

</html>
